<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      a {
        text-decoration: none;
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
        margin: 5px;
      }
      a:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <h1>This website is developed by Ayush Pratap Singh using Flask.</h1>
    <br />
    <a href="/">Back to Home</a>
  </body>
</html>
